.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: rgb(52, 33, 33);
  padding: 100px;
}
h1 {
  width: 100%;
  max-width: 300px;
  color:#33cc5c;
  margin: auto;
  font-size: 60px;
  margin-top:200px;
  
}
h2{
  width: 100%;
  max-width: 110px;
  color: rgb(255, 255, 255);
  margin: auto;
  font-size: 50px;
  margin: 20px auto;

}
.buttons {
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
  width: 100%;
  padding:5px;
}
button {
  width: auto;
  height: 30px;
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 400px;
  border:  rgb(255, 7, 7);
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
    background-color: #33cc5c;

}
